 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 724px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: normal;
  margin: 62px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 auto;
}

.u-section-1 .u-image-1 {
  height: 356px;
  margin-top: 7px;
  margin-bottom: 0;
}

.u-section-1 .u-text-3 {
  font-size: 0.875rem;
  margin: -37px auto 0 14px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: 27px auto 0 14px;
}

.u-section-1 .u-text-5 {
  font-weight: 600;
  margin: 7px 49px 0 14px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 27px auto 26px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 788px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 43px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 35px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 6px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-bottom: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-top: -175px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    margin-top: -227px;
    font-size: 1rem;
  }

  .u-section-1 .u-image-1 {
    margin-top: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    font-weight: 700;
    margin-top: 27px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -263px;
  }

  .u-section-1 .u-image-1 {
    height: 198px;
    margin-top: 256px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 18px;
    margin-bottom: 26px;
  }
} .u-section-2 {
  background-image: url("images/Stars.jpeg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 678px;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 700;
  margin: 37px 500px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: -37px 141px 0 815px;
}

.u-section-2 .u-text-3 {
  margin: 12px 35px 0 815px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 772px;
  margin: -100px auto 0 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 511px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: -349px 267px 0 auto;
  padding: 0;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 40px 141px 0 815px;
}

.u-section-2 .u-text-5 {
  margin: 12px 35px 0 815px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: 8px 267px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 53px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -41px;
    margin-right: 106px;
    margin-left: 650px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 0;
    margin-left: 650px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 597px;
    margin-top: -109px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 496px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -327px;
    margin-right: 232px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 44px;
    margin-right: 106px;
    margin-left: 650px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: 0;
    margin-left: 650px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 17px;
    margin-right: 67px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 407px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 109px;
    margin-right: 80px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -153px;
    margin-right: 0;
    margin-left: 536px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 39px;
    margin-left: 536px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -202px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -198px;
    margin-right: 126px;
    margin-left: 536px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 430px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 430px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 259px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 322px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 26px;
    margin-left: 356px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -55px;
    margin-left: 356px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -493px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 810px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -247px;
    margin-left: 356px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 250px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 250px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 794px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 254px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    margin-top: 32px;
    margin-right: 131px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 13px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 291px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -508px;
    margin-right: auto;
    margin-left: 25px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-right: 131px;
    margin-left: 25px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 11px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 5px;
    margin-right: auto;
    margin-left: 25px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 562px;
}

.u-section-3 .u-image-1 {
  width: 793px;
  height: 584px;
  object-position: 95.67% 50%;
  background-position: 95.67% 50%;
  margin: 33px 0 0 auto;
}

.u-section-3 .u-group-1 {
  width: 508px;
  min-height: 321px;
  height: auto;
  margin: -465px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 18px 60px 18px 0;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 0 38px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 255px 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  line-height: 52.8px;
  letter-spacing: normal;
  font-family: Roboto, sans-serif;
  margin: -417px 366px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-3 .u-image-1 {
    width: 572px;
    height: 351px;
    margin-top: 88px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -300px;
    height: auto;
  }

  .u-section-3 .u-text-3 {
    margin-top: -404px;
    margin-right: 166px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 456px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 332px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -281px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 452px;
  }

  .u-section-3 .u-image-1 {
    height: 155px;
    width: 251px;
    margin-top: 60px;
    margin-right: auto;
  }

  .u-section-3 .u-group-1 {
    min-height: 225px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.625rem;
    width: auto;
    margin-top: -243px;
    margin-right: 0;
    margin-left: 237px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -420px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 953px;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-family: "Alfa Slab One";
  margin: 14px 509px 0 0;
}

.u-section-4 .u-image-1 {
  width: 188px;
  height: 190px;
  margin: -70px 14px 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: -99px 265px 0 0;
}

.u-section-4 .u-image-2 {
  width: 1165px;
  height: 543px;
  margin: 58px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -327px -25px 0 auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(50% - 15.5px) calc(50% - 15.5px);
  min-height: 441px;
  grid-gap: 31px 31px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 74px;
  width: 74px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 74px;
  width: 74px;
  background-image: none;
  margin: 0 auto;
  padding: 15px;
}

.u-section-4 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 23px 0 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  margin: -114px 625px 60px 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 792px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 18px;
    margin-right: 309px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -97px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 176px;
  }

  .u-section-4 .u-image-2 {
    width: 940px;
    height: 438px;
    margin-top: 30px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -325px;
    margin-right: 0;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 16.5px) calc(50% - 16.5px);
    min-height: 443px;
    grid-gap: 33px 33px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: -88px;
    margin-right: 425px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 1027px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 807px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 89px;
  }

  .u-section-4 .u-image-1 {
    margin-top: -207px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 720px;
    height: 335px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -222px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
  }

  .u-section-4 .u-text-7 {
    margin-right: 205px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 797px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: -219px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-top: 23px;
  }

  .u-section-4 .u-image-2 {
    width: 540px;
    height: 251px;
  }

  .u-section-4 .u-list-1 {
    margin-top: -138px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 25px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 850px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 23px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 228px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -407px;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 158px;
  }

  .u-section-4 .u-list-1 {
    width: 340px;
    margin-top: -45px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-bottom: 83px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1013px;
}

.u-section-5 .u-shape-1 {
  background-image: none;
  height: 567px;
  width: 784px;
  margin: 186px 0 0 auto;
}

.u-section-5 .u-image-1 {
  height: 627px;
  width: 856px;
  margin: -694px 72px 0 auto;
}

.u-section-5 .u-image-2 {
  width: 560px;
  min-height: 576px;
  background-image: url("images/a7d25ea5-f10e-d3df-2733-55a779ff3988.png");
  background-position: 50% 50%;
  height: auto;
  margin: -258px 112px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-group-2 {
  width: 1024px;
  min-height: 491px;
  height: auto;
  margin: 0 auto 0 -476px;
}

.u-section-5 .u-container-layout-2 {
  padding: 40px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-family: Barlow;
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  margin: 20px auto 0 0;
  padding: 10px 52px 10px 51px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1027px;
  }

  .u-section-5 .u-image-1 {
    height: 647px;
    margin-top: -733px;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    width: 500px;
    margin-top: -216px;
    margin-right: 0;
    height: auto;
  }

  .u-section-5 .u-group-2 {
    width: 937px;
    margin-top: 42px;
    margin-left: -437px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-image-1 {
    height: 544px;
    width: 720px;
    margin-top: -742px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -113px;
  }

  .u-section-5 .u-group-2 {
    width: 500px;
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1107px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
    margin-top: 345px;
  }

  .u-section-5 .u-image-1 {
    height: 408px;
    width: 540px;
    margin-top: -872px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1061px;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
    margin-top: 60px;
  }

  .u-section-5 .u-image-1 {
    height: 283px;
    margin-top: -567px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    margin-top: -53px;
    margin-bottom: 7px;
  }

  .u-section-5 .u-group-2 {
    width: 340px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 27px;
    padding-bottom: 27px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 512px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 13px;
  margin-bottom: 39px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 460px;
}

.u-section-6 .u-container-layout-1 {
  padding: 3px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  background-image: none;
  font-size: 4.5rem;
  margin: 20px -550px 0 50px;
}

.u-section-6 .u-line-1 {
  width: 1110px;
  transform-origin: left center 0px;
  margin: 13px -570px 0 auto;
}

.u-section-6 .u-image-1 {
  width: 360px;
  height: 360px;
  margin: -25px auto 0 95px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 460px;
}

.u-section-6 .u-container-layout-2 {
  padding: 47px 0 30px;
}

.u-section-6 .u-text-2 {
  margin: 27px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 412px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 484px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-line-1 {
    width: 470px;
    margin-right: 0;
  }

  .u-section-6 .u-image-1 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 316px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-6 .u-line-1 {
    width: 360px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 390px;
  }

  .u-section-6 .u-line-1 {
    width: 340px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 330px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -44px;
  }
} .u-section-7 {
  background-image: url("images/Stars.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 615px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  letter-spacing: normal;
  text-transform: none;
  width: 594px;
  margin: 52px auto 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  width: 628px;
  margin: 30px auto 0;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 43px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 322px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-7 .u-icon-1 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 20px;
}

.u-section-7 .u-text-3 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px -1px 0;
}

.u-section-7 .u-text-4 {
  margin: 20px -1px 0;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 322px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-7 .u-icon-2 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 20px;
}

.u-section-7 .u-text-5 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 19px 0;
}

.u-section-7 .u-text-6 {
  width: 245px;
  margin: 19px auto 0;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-layout-cell-3 {
  min-height: 322px;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-7 .u-icon-3 {
  height: 80px;
  width: 80px;
  margin: 0 auto;
  padding: 20px;
}

.u-section-7 .u-text-7 {
  font-weight: 700;
  text-transform: none;
  font-size: 1.25rem;
  margin: 30px 1px 0;
}

.u-section-7 .u-text-8 {
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 559px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 266px;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 266px;
  }

  .u-section-7 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-7 .u-text-6 {
    width: 220px;
  }

  .u-section-7 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1153px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 26px;
    margin-right: 26px;
    width: 540px;
  }

  .u-section-7 .u-text-2 {
    width: 540px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }
}