 .u-section-1 {
  background-image: url("images/IMG_2768.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 623px;
}

.u-section-1 .u-group-1 {
  width: 859px;
  min-height: 120px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  height: auto;
  margin: 89px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0 -14px 0 74px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-group-1 {
    width: 789px;
    min-height: 78px;
    margin-top: 81px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: auto;
    margin-left: 63px;
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 632px;
  }

  .u-section-1 .u-group-1 {
    width: 501px;
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 29px;
    margin-right: 29px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 62.55% 50%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 612px;
  }

  .u-section-1 .u-group-1 {
    width: 360px;
    min-height: 384px;
    margin-top: 138px;
    margin-left: 45px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.625rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-size: 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 286px;
  }

  .u-section-1 .u-group-1 {
    min-height: 45px;
    width: 326px;
    margin-top: 75px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: -14px;
    margin-left: 11px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 986px;
}

.u-section-2 .u-shape-1 {
  width: 956px;
  height: 641px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 67px 65px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 982px;
  height: 757px;
  object-position: 74.84% 50%;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -555px auto 0 0;
}

.u-section-2 .u-group-1 {
  min-height: 364px;
  background-image: none;
  margin-top: -352px;
  margin-bottom: 60px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-2 .u-text-1 {
  margin: 15px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 26px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 38px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-2 .u-shape-1 {
    width: 940px;
    margin-top: 8px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-image-1 {
    width: 940px;
    height: 725px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -320px;
    margin-bottom: 10px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-2 .u-shape-1 {
    width: 720px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 555px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -150px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1372px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 416px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -11px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 858px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 15px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 262px;
    margin-top: -613px;
    margin-left: -38px;
  }

  .u-section-2 .u-group-1 {
    min-height: 646px;
    margin-top: -108px;
    margin-bottom: 15px;
  }
}